/* style.css */

/* Resetting default browser settings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
}
/* Global settings */
body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    background-color: #f0f2f5;
    color: #333;
}

/* Header */
header {
    background-color: #007bff;
    color: white;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header h1 {
    font-size: 2.5em;
}

/* Navigation */
nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #ffdd57;
}

/* Main container */
main {
    padding: 20px;
    flex: 1;
}

/* Stats section */
.stats {
    margin-top: 20px;
}

.stats p {
    font-size: 1.2em;
}

h2, h3 {
    color: #007bff;
}

/* Logs section */
.logs ul {
    list-style: none;
    padding: 0;
}

.logs li {
    background-color: #fff;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Screenshots section */
.screenshots img {
    max-width: 100%;
    height: auto;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Footer */
footer {
    background-color: #007bff;
    position: relative;
    color: white;
    text-align: center;
    padding: 10px;
    bottom: 0;
    width: 100%;
}

/* Custom styles for the gallery slider */
.carousel-inner {
    max-height: 600px;
    overflow: hidden;
}

.gallery-image {
    object-fit: cover;
    height: 600px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    padding: 10px;
}

.carousel-control-prev-icon:hover,
.carousel-control-next-icon:hover {
    background-color: rgba(0, 0, 0, 0.8);
}